<ion-tabs>

  

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="market-place" href="/tabs/market-place">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
      <ion-label>Market Place</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/tabs/cart">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    



  </ion-tab-bar>

</ion-tabs>